.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 3px;
  margin: 5px;
  width: 120px;
  height: 150px;

  &.withState{
    font-weight: bold;
  }
  &.active{
    border-color: red;
  }
  &.checked{
    background-color: #8848ff;
  }
}

.image{
  margin-bottom: 10px;
}